<h1>make a new album</h1>
<form action="<%= albums_url %>" method="post">
  title:<input type="text" name="album[title]">
  year:<input type="year" name="album[year]">
  Live album?<input type="radio" name="album[live]" value="true">Yes
  <input type="radio" name="album[live]" value="false">No
  <select name="album[band_id]">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>"> <%= band.name %></option>
    <% end  %>
  </select>
  <input type="submit" value="SUBMIT">
</form>
