/* PHASE 3: Content */

.content {

  margin: auto;
  border: 1px solid #eee;
  width: 900px;
  background: #fff;
}

.content-sidebar {
  width: 200px;
  float: left;
  padding: 20px;

}

.content-main {
  width: 620px;
  float: left;
  padding: 20px;
}

.content h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 10px;
}

.content p {


}
