<h1>All cats!</h1>

<ul>

<% @cats.each do |cat| %>
<!--  equivalent to: render cat -->
  <%= render 'cat', cat: cat %>
<% end %>
</ul>

<!-- You can also simply do
render @cats

 -->

<!-- minus sign then tab => <%%> -->
<!-- equal sign then tab => <%= %> -->
