<h1>New track</h1>
<form action="<%= tracks_url %>" method="post">
  title:<input type="text" name="track[title]">
  number:<input type="number" name="track[ord]">
  Bonus track?<input type="radio" name="track[bonus]" value="true">Yes
  <input type="radio" name="track[bonus]" value="false">No
  Select album:
  <select name="track[album_id]">
    <% Album.all.each do |album| %>
      <option value="<%= album.id %>"> <%= album.title %></option>
    <% end  %>
  </select>
  <input type="submit" value="SUBMIT">
</form>
